@{
    ViewData["Title"] = "Home Page";
}

<h1 class="text-center">Welcome to Our E-Commerce Project</h1>
<h4>Craving something tasty? Order your favorite meals online with ease. Fresh, fast, and just a few clicks away!</h4>
